{
    "presets": [
      [
        "@babel/preset-env", {
          "loose": true,
          "modules": false,
          "shippedProposals": true
        }
      ],
      ["@babel/preset-react", {"runtime": "automatic"}],
      "@babel/preset-typescript"
    ],
    "plugins": [
      "@babel/plugin-transform-runtime",
      "babel-plugin-styled-components",
      "lodash"
    ],
    "env": {
      "test": {
        "plugins": [
          "lodash"
        ],
        "presets": [
          [
            "@babel/preset-env",
            {
              "shippedProposals": true
            }
          ]
        ]
      }
    }
  }
  